<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<body>
<h1 id="header">Quick Type</h1>

<div id="page">
    <div class = "startScreen">
        <div id="stats">
            <div>WPM:
                <div class="numbers">0000</div>
            </div>
            <div>Accuracy:
                <div class="numbers">0000</div>
            </div>
            <div>Raw:
                <div class="numbers">0000</div>
            </div>
            <div>Time:
                <div class="numbers">0000</div>
            </div>
        </div>
    </div>
</div>
