<!DOCTYPE html>
<link rel="stylesheet" href="assets/style.css">
<h1 id="header">Quick Type</h1>
<div id = "page">
    <div class = "startScreen">
        <h1>Sign Up</h1>
        <form action="/" method="POST">
        <input style = "color:#dedede; font-family: 'Monaco', 'Courier New', monospace; font-size: 25px; font-weight: bold;" type="text" name="username" placeholder="Username" id="username"/> 
        <input style = "color:#dedede; font-family: 'Monaco', 'Courier New', monospace; font-size: 25px; font-weight: bold;" type="password" name="password" placeholder="Password" id="password"/> 
        <input type="submit" value="Sign Up" class="button"/>
        </form>
        <button onClick="location.href='/sign-in'" class="button">Sign In</button>
        <button onClick="location.href='/game'" class="button">Play As Guest</button>
    </div>
</div>

