<!DOCTYPE html>
<link rel="stylesheet" href="assets/style.css">
<h1 id="header">Money Type</h1>
<div id = "page">
    <div class="startScreen">
        <h1>Sign In</h1>
        <form action="/sign-in" method="POST">
        <input style = "color:#dedede; font-family: 'Monaco', 'Courier New', monospace; font-size: 25px; font-weight: bold;" type="text" name="username" placeholder="Username" id="username"/> 
        <input style = "color:#dedede; font-family: 'Monaco', 'Courier New', monospace; font-size: 25px; font-weight: bold;" type="password" name="password" placeholder="Password" id="password"/> 
        <input type="submit" value="Sign In" class="button"/>
        </form>
        <button onClick="location.href='/'" class="button">Sign Up</button>
        <button onClick="location.href='/game'" class="button">Play As Guest</button>
    </div>
</div>