doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="../assets/style.css")
        script(src="https://www.w3schools.com/lib/w3.js")
        script(src="test.js")
        title="Game!"
    body 
        h1#header Ant Type
        h1 Game: 
        #page
            .startScreen 
                button(onclick='printtext()') Get Sentence
                p #{sentence}
                
    
            

        
    